body {
  /* background-image: url(../assets/night-mosque.jpg); */
  /* background-image: url(../assets/camels.jpg); */
  /* background-image: url(../assets/mosques.png); */
  background-image: url(../assets/mosques-darker.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* Blue-theme */
  background-color: #030d26;
  /* Violet-theme */
  /* background-color: #010101; */
}

.Main {
  text-align: center;
  font-family: 'Roboto Slab';
  color: #eee;
}

.Main-instructions {
  font-family: 'Cabin';
  font-size: 17px;
  font-weight: lighter;
  line-height: 1.4;
  /* Blue-theme */
  color: #7892c2;
  /* Violet-theme */
  /* color: #9d829a; */
  max-width: 25rem;
  margin: 1rem auto;
  margin-bottom: 1.5rem;
}

.Times-container {
  margin: auto;
  width: 17rem;
  padding-right: 3rem;
  box-sizing: border-box;
}

.Time {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.Time-label {
  margin: 0 15px 0 0;
  /* padding-top: 5px; */
  font-size: 25px;
  font-weight: bold;
  font-family: 'Cabin';
}

.Time-time {
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 24px;
  border: 3px solid;
  border-radius: 5px;
  padding: 5px;
  width: 80px;
  height: 32px;
}

.Button-calculate {
  background-color: #2ec1d4;
  color: #fff;
  font-size: 22px;
  font-family: 'Cabin';
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 4px #aaa;
  padding: 5px 15px;
  margin: 2rem auto 1rem auto;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.Button-calculate:active {
  box-shadow: none;
}

.Button-calculate:disabled {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgb(141, 151, 180, 0.6);
  cursor: not-allowed;
}

.vecteezy {
  margin-top: 1rem;
  display: block;
  /* Blue-theme */
  /* color: #203255; */
  color: #273c6b;
  /* Violet-theme */
  /* color: #221C36; */
  font-family: 'Roboto Slab', sans-serif;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
}

/* ANIMATIONS */

.hide {
  height: 0px;
  opacity: 0;
  visibility: hidden;
  margin: 13px 0;
}

.show {
  padding: 25px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 250px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: height 0.6s 0s, opacity 0.8s 0.2s;
  -o-transition: height 0.6s 0s, opacity 0.8s 0.2s;
  transition: height 0.6s 0s, opacity 0.8s 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
}

/* MEDIA QUERIES */

@media all and (max-width: 820px) {
  body {
    background-size: 200%;
    /* background-position: top; */
  }
  .Main-instructions {
    font-size: 15px;
    max-width: 20rem;
  }
}
